#first_form
  =comment_form(@article, :name,:email,:website)
#second_form
  =comment_form(@article, :email,:website)
#third_form
  =comment_form(@article, :website)
#fourth_form
  =comment_form(@article)